// Importing string manipulation functions
@import "./helpers/string-manipulation.scss";

// Function to retrieve the 'items' from a map
@function getItems($map) {
  @return map-get($map, "items");
}

// Function to format a token by creating a new map with slugified names and corresponding values
@function formatToken($token, $isNested: false) {
  $result: ();

  // If the token is nested, handle it differently
  @if $isNested {
    @each $category, $categoryItems in $token {
      $formattedItems: ();
      @each $item in $categoryItems {
        $formattedItems: map-merge($formattedItems, formatItem($item));
      }

      $result: map-merge(
        $result,
        (
          $category: $formattedItems,
        )
      );
    }
  } @else {
    @each $item in $token {
      $result: map-merge($result, formatItem($item));
    }
  }

  @return $result;
}

// Function to format an item
@function formatItem($item) {
  $name: map-get($item, "name");
  $slug: slugify($name);
  $value: map-get($item, "value");

  @return ($slug: $value);
}
