.u-emphasise {
  position: relative;
  font-style: normal;
  text-wrap: nowrap;

  &::after {
    content: "";
    display: block;
    block-size: 2ch;
    pointer-events: none;
    background-image: url(/public/images/pattern-curved-line-1.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    inset-inline: 0;
    inset-block-start: -1.5em;
    inset-block-end: 0;
  }
}
