@font-face {
  font-family: "Epilogue";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Epilogue/Epilogue-Regular.woff2") format("woff2"),
    url("/fonts/Epilogue/Epilogue-Regular.woff") format("woff");
}

@font-face {
  font-family: "Epilogue";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Epilogue/Epilogue-Bold.woff2") format("woff2"),
    url("/fonts/Epilogue/Epilogue-Bold.woff") format("woff");
}
