@use "../10-functions/theme-accessor" as *;
@use "../20-mixins/media-query" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  // outline: solid 1px hotpink;
}

// GLOBAL SETTINGS ////////////////////
body {
  // accent-color: ???;
  color: var(--color-global-text);
  background: var(--color-global-bg);
  font-size: var(--text-size-base);
  font-family: var(--font-display);
  font-weight: var(--font-weight-base);
  letter-spacing: 0.1ch;
  line-height: var(--leading-loose);
  word-break: break-word;
}

// DOCUMENT STRUCTURE ////////////////////
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  --space-region: var(--space-3xl);
  --space-repel: var(--space-m);
  padding-block-start: var(--space-m-xl);
}

footer {
  --space-region: var(--space-2xl);
  --space-repel: var(--space-l);
  --space-cluster: var(--space-gutter);
  --repel-vertical-alignment: stretch;

  li {
    a:hover img {
      filter: grayscale(75%) brightness(400%);
    }
  }

  @media screen and (max-width: 600px) {
    .l-repel {
      flex-direction: column;
      --repel-vertical-alignment: center;
    }
  }
}

main {
  overflow: hidden;
}

// TYPOGRAPHY ////////////////////
h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
  font-weight: var(--font-weight-heading);
  text-wrap: balance;
  hyphens: auto;
  color: var(--color-heading-text);
}

h1 {
  font-size: var(--text-size-heading-1);
  max-inline-size: 30ch;
  letter-spacing: 0.01ch;
}

h2 {
  font-size: var(--text-size-heading-2);
}

h3 {
  font-size: var(--text-size-heading-3);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.05ch;
}

h4 {
  font-size: var(--text-size-heading-4);
  text-transform: uppercase;
  letter-spacing: 0.4ch;
}

h1,
h2,
h3,
h4,
button,
.button,
input,
label {
  line-height: get(line-height, standard);
}

// CONTENT ELEMENTS ////////////////////
// TEXT ELEMENTS
p {
  max-inline-size: var(--measure, 66ch);
  text-wrap: pretty;
}

b {
  font-weight: get(font-weight, bold);
}

// LIST ELEMENTS

// FORM ELEMENTS

// TABLE ELEMENTS
table {
  inline-size: 100%;
  border-collapse: collapse;
  border: none;
}

// IMAGE & SVG ELEMENTS
img {
  object-fit: contain;
}

// INTERACTIVE ELEMENTS ////////////////////
// A ELEMENT SPECIFICS
.link {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  color: var(--color-french-rose);
  text-decoration: none;
  text-underline-offset: 0;

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--color-cherry-blossom-pink);
  }

  &[aria-current="page"] {
    //
  }

  & > img {
    display: inline-block;
  }
}

// BUTTON STYLES
.button {
  // https://piccalil.li/blog/link-button
  // https://piccalil.li/blog/use-transparent-borders-and-outlines-to-assist-with-high-contrast-mode
  // view sara soueidan's article on this
  --border-width: 1px;
  --border-radius: 0.25em;

  display: inline-flex;
  gap: var(--button-gap, var(--space-gutter));
  align-items: center;
  justify-content: center;
  padding: var(--button-padding, var(--space-s) var(--space-m));
  background: var(--button-bg, var(--color-surface-bg));
  color: var(--button-text, var(--color-surface-text));
  font-size: var(--button-font-size, var(--text-size-base));
  font-family: var(--button-font, var(--font-display));
  font-weight: var(--button-font-weight, var(--font-weight-bold));
  text-transform: capitalize;
  text-decoration: none;
  border: var(--border-width) solid var(--button-border, transparent);
  border-radius: var(--button-radius, var(--border-radius));
  position: relative;

  &:hover,
  &:focus-visible {
    background: transparent;
  }

  &:hover::before,
  &:focus-visible::before {
    content: "";
    position: absolute;
    inset: calc(var(--border-width) * -1);
    background: var(--color-surface-bg-interact);
    border-radius: var(--border-radius);
    z-index: -1;
  }

  &[data-button="alternate"] {
    --button-bg: var(--color-global-bg);
    --button-text: var(--color-surface-bg);
    --button-border: var(--color-surface-bg);
    --alternate-bg: transparent;
    background-color: var(--alternate-bg);

    &:hover,
    &:focus-visible {
      --alternate-bg: var(--color-surface-bg);
      --button-text: var(--color-surface-text-interact);
    }

    &:hover::before,
    &:focus-visible::before {
      content: none;
      z-index: -1;
    }
  }
}

// INTERACTIVE STATES ////////////////////
// SELECTION

// FOCUS AND TARGET STATES
:focus {
  outline-offset: 0.65ch;
}

:target {
  scroll-margin-block: 2ex;
}

// INTERFACE ELEMENTS ////////////////////
// SELECTION
::selection {
  // color: get-theme("color", "bold");
  // background: get-color("core", "primary");
}

// SKIP LINK
.skip-link {
  &-container {
    position: absolute;
    inset-block-start: 0.5em;
    z-index: 999;
  }

  & {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-block-size: 100%;
    // font-family: get-font-family("code");
    // font-size: get(font-size, step-1);
  }

  &:not(:focus) {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}

// SCROLLBAR ////////////////////
